
<%-include('./partials/header')%>

<link rel="stylesheet" href="/css/home.css">
<script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
<%-include('./partials/header2')%>

<div class="container-404">
    <h1>404</h1>
    <a class="btn-link" onclick="goback()">return to the Menu </a>
</div>


<%-include('./partials/footer')%>