<%-include('./partials/header')%>
<div class="register-container"> 
    
        <form id="register-form">
            <input type="text" name="firstName" >
            <input type="text" name="lastName" >
            <input type="text" name="userName" >
            <input type="text" name="password" >
            <input type="text" name="passwordConfirmation">
            <button>Login</button>        
        </form>
</div>


<script src="/js/register.js"></script>
<%-include('./partials/footer')%>