<%-include('./partials/header')%>
<link rel="stylesheet" href="/css/register.css">
<%-include('./partials/header2')%>
<div class="register-container"> 

        <h1>Register</h1>
        <p class="error"></p>
        <form id="register-form">
            <input type="text" name="firstName" autocomplete="off">
            <input type="text" name="lastName" autocomplete="off">
            <input type="text" name="userName" autocomplete="off">
            <input type="password" name="password" autocomplete="off">
            <input type="password" name="passwordConfirmation" autocomplete="off">
            <button>Register</button>        
        </form>
</div>


<script src="/js/register.js"></script>
<%-include('./partials/footer')%>