/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



#create-room{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: auto;
    margin-top: 5rem;
}

#create-room input{

    margin-bottom: 2rem;
    width: 40rem;
    height: 4rem;
}
#create-room label{

    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#create-room textarea{
    height: 8rem;
    margin-bottom: 2rem;

}

.header .header__login-info .btn, .header .header__login-info .btn-link{

    width: 6rem;
    font-size: 1rem;
}

@media screen and (max-width: 550px){

    #create-room input{

        margin-bottom: 2rem;
        width: 25rem;
        height: 2.5rem;
    }

}