/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.rooms-container{

    height: 100%;
    width: 100%;
}

.rooms-container h1{

    margin-bottom: 2rem;
}

.rooms-container table{

    width: 50rem;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

.rooms-container tr{

    border: 1px solid black;
    height: 4rem;
    font-size: 2rem;
}

#delete-room{

    cursor: pointer;
    color: red;
}


@media screen and (max-width: 520px){

    .rooms-container table{

        width: 30rem;
    }   

    .rooms-container tr{

        border: 1px solid black;
        height: 3rem;
        font-size: 1.2rem;
    }
    


}