<!DOCTYPE html>
<html>
    <head>
        <title>Sezzle Calulator</title>
        <link rel="stylesheet" href="/css/partials.css">
        <link rel="stylesheet" href="/css/utils.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <meta charset="utf-8">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Sezzle Calculator">
       
    
        