
<script src="/js/utilities.js"></script>
</head>
<body>

<div class="container"> 
<nav class="header">
    <div class="header__brand">   
        <a href="/">Sezzle Calculator</a>
    </div>

    <div class="header__login-info">
        <% if(currentUser) { %> 
            <a class="btn-link" href="/users/<%=currentUser._id%>"> <i class="fas fa-user"></i> <%=currentUser.userName%></a>
           <form action="/logout" method="POST">
                <button class="btn btn-medium btn-orange">logout</button>
           </form>
           <% } else{ %> 
            <a class="btn btn-light-blue btn-medium" href="/login">Login</a>
            <a class="btn btn-orange btn-medium" href="/register">Register</a>

           <% } %> 
    </div>
   
    
</nav>