<!DOCTYPE html>
<html>
    <head>
        <title>Sezzle Calulator</title>
        <link rel="stylesheet" href="/css/partials.css">
        <link rel="stylesheet" href="/css/utils.css">
       
    
        