
<div class="sidebar">
        <h1>Menu</h1>
        <ul> 
            <li> <a class="btn-link sidebar__link" href="/">Home</a> </li> 
            <li> <a class="btn-link sidebar__link" href="/rooms/general">General Room</a> </li>          
            <li> <a class="btn-link sidebar__link" href="/rooms">All Rooms</a> </li>
            <li> <a class="btn-link sidebar__link" href="/<%- user._id %>/rooms">My rooms</a> </li>
            <li> <a class="btn-link sidebar__link" href="/rooms/new">Add a room</a> </li>
            <li> <a class="btn-link sidebar__link" href="/users/<%- user._id %>">User settings</a> </li>
            
        </ul>
</div> 